@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra protection: Prevent user selection and interaction with all images */
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto; /* keep clickable for JS fullscreen */
}
